{% extends "index.html" %}

{% block css %}
    <link rel="stylesheet" href="/static/css/nifty-demo-icons.min.css">
{% endblock %}

{% block content %}
    {% csrf_token %}
    <div id="page-head">
        <div id="page-title">
            <h1 class="page-header text-overflow">批量命令</h1>
        </div>

        <ol class="breadcrumb">
            <li><a href="/"><i class="pli-home"></i></a></li>
            <li class="active">主机管理</li>
            <li class="active">批量命令</li>
        </ol>
    </div>

    <div id="page-content">
        <div class="row">
            {% include "common/host_choose.html" %}

            <div class="col-lg-9">
                <div class="row">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">批处理命令</h3>
                        </div>

                        <!--Hover Rows-->
                        <!--===================================================-->
                        <div class="panel-body">
                            <textarea id="cmd_content" cols="30" rows="5" class="form-control"></textarea>
                            <button class="btn btn-info" id="cmd_run">执行</button>
                            <button class="btn btn-danger pull-right">停止</button>
                        </div>
                        <!--===================================================-->
                        <!--End Hover Rows-->

                    </div>

                    {% include "common/result.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js2 %}
    <script src="/static/js/multicmd.js"></script>
{% endblock %}
